<table  th:fragment="html" class="inputTable ">

    <tr> <!--第一行 指数选择-->
        <td width="25%">
                <span data-toggle="tooltip" data-placement="top" title="选择某一个指数进行模拟回测">
                    请选择指数:<span class="glyphicon glyphicon-question-sign" > </span>
                </span>
        </td>

        <td width="25%">
            <select   @change="changeParamWithFlushDate"  v-model="currentIndex" class="indexSelect form-control">
                <option  v-for="bean in indexes" :value="bean.name+'-'+bean.code">  {{bean.name}} -（{{bean.code}}）</option>

            </select>
        </td>
        <td width="25%"></td>
        <td width="25%"></td>
    </tr>

    <tr> <!--第二行  均日选择-->
        <td>
            <span data-toggle="tooltip" data-placement="top" title="MA 即 moving average, 移动均线的意思。 比如MA20就表示20日均线，取最近20天的值的平均数">
                MA(均线) :<span class="glyphicon glyphicon-question-sign   " > </span>
            </span>
        </td>
        <td>
            <select class="form-control" @change="changeParam" v-model="ma">
                <option  value="5">5日</option>
                <option  value="10">10日</option>
                <option  value="20">20日</option>
                <option  value="60">60日</option>
            </select>
        </td>
    </tr>

    <tr><!--第三行 阈值选择-->
        <td>
            <span data-toggle="tooltip" data-placement="top" title="当前值大于均线，说明上升趋势来了，就可以购买，或者再稍等等，比均线多 5% 再下手，那么购买阈值就是 1.05 ">
                购买阈值:<span class="glyphicon glyphicon-question-sign	" > </span>
            </span>
        </td>
        <td>
            <select class="form-control" @change="changeParam" v-model="buyThreshold">
                <option  v-for="i in 9" :value="i/100+1">{{i/100+1|formatNumberFilter(2)}}</option>
            </select>
        </td>
        <td>
            <span data-toggle="tooltip" data-placement="top" title="当前值低于均线，说明下跌趋势来了，就可以出售，或者再稍等等，比最近的高点低 5%，那么购买阈值就是 0.95">
                出售阈值:<span class="glyphicon glyphicon-question-sign	" > </span>
            </span>
        </td>
        <td>
            <select class="form-control" @change="changeParam"  v-model="sellThreshold">
                <option v-for="i in 10" :value="1-i/100">{{1-i/100|formatNumberFilter(2)}}</option>
            </select>
        </td>
    </tr>

    <tr><!--第四行 手续费-->
        <td>
            <span data-toggle="tooltip" data-placement="top" title="忽略手续费因素，只考虑收盘价">
                收盘价:<span class="glyphicon glyphicon-question-sign" > </span>
            </span>
        </td>
        <td>
            <input type="number" class="form-control" @change="changeParam"  v-model="closePoint"></input>
        </td>
    </tr>


</table>